<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        <requestedExecutionLevel level="requireAdministrator" uiAccess="false"/>
    </startup>
  <connectionStrings>
    <add name="Server"
		 connectionString="http://cozumointops.cloudapp.net"/>
	<add name="AdminServer"
		 connectionString="http://cozdev01admapiweb.cloudapp.net"/>
	<add name="DemoServer"
		 connectionString="http://cozumointops.cloudapp.net"/>
	<add name="CampaignServer"
		 connectionString="http://private-58db71-cozumoweb.apiary-mock.com"/>
    <add name="ValidSerial"
         connectionString="D05FB84F1606"/>
    <add name="DemoSerial"
         connectionString="D05FB84F2A56"/>
    <add name="InvalidSerial"
         connectionString="THISISANINVALIDSERIAL"/>
    <add name="TimesToRunTests"
         connectionString="10"/>
    <add name="DelayBetweenRuns"
         connectionString="200"/>
    <add name="Username"
         connectionString="888QQ"/>
    <add name="Password"
         connectionString="foo"/>
    <add name="slug"
         connectionString=""/>
    <add name="startDate"
         connectionString=""/>
    <add name="endDate"
         connectionString=""/>
    <add name="redeemedDate"
         connectionString=""/>
    <add name="timeFilter"
         connectionString=""/>
    <add name="status"
         connectionString=""/>
    <add name="publicationId"
         connectionString=""/>
    <add name="offerId"
         connectionString=""/>
    <add name="campaignName"
         connectionString=""/>
    <add name="campaignId"
         connectionString=""/>
    <add name="campaignDescription"
         connectionString=""/>
    <add name="couponCode"
         connectionString=""/>
    <add name="date"
         connectionString=""/>
    <add name="issuedDate"
         connectionString=""/>
  </connectionStrings>
</configuration>