<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        <requestedExecutionLevel level="requireAdministrator" uiAccess="false"/>
    </startup>
  <connectionStrings>
    <add name="Server"
		 connectionString="http://cozumointops.cloudapp.net"/>
	<add name="AdminServer"
		 connectionString="http://cozdev01admapiweb.cloudapp.net"/>
	<add name="DemoServer"
		 connectionString="http://cozumointops.cloudapp.net"/>
	<add name="CampaignServer"
		 connectionString="http://cozumo-stage.cloudapp.net"/>
    <add name="ValidSerial"
         connectionString="D05FB84F1606"/>
    <add name="DemoSerial"
         connectionString="D05FB84F2A56"/>
    <add name="InvalidSerial"
         connectionString="THISISANINVALIDSERIAL"/>
    <add name="TimesToRunTests"
         connectionString="10"/>
    <add name="DelayBetweenRuns"
         connectionString="200"/>
    <add name="Username"
         connectionString="001RW"/>
    <add name="Password"
         connectionString="Welcome123*"/>
    <add name="slug"
         connectionString=""/>
    <add name="startDate"
         connectionString=""/>
    <add name="endDate"
         connectionString=""/>
    <add name="redeemedDate"
         connectionString=""/>
    <add name="timeFilter"
         connectionString=""/>
    <add name="status"
         connectionString=""/>
    <add name="publicationId"
         connectionString="2500534a-e7fa-48e8-9d7e-ec28bc872a31"/>
    <add name="offerId"
         connectionString="7500133f-d7aa-48e2-9d7e-ed28bc872a30"/>
    <add name="campaignName"
         connectionString="CampaignManagerQATest"/>
    <add name="campaignId"
         connectionString="7500133f-d7aa-48e8-9d7e-ec28bc872a31"/>
    <add name="campaignDescription"
         connectionString="Campaign Description Goes Here"/>
    <add name="couponCode"
         connectionString=""/>
    <add name="date"
         connectionString=""/>
    <add name="issuedDate"
         connectionString=""/>
    <add name="applicationKey"
         connectionString="AB8D7AA5DEC91B90F85158CC223916E7C3DEAD52"/>
    <add name="sessionKey"
    	 connectionString="4D46F8605ED5FC4B27871C994EA09915A86620DC"/>
  </connectionStrings>
</configuration>