<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        <requestedExecutionLevel level="requireAdministrator" uiAccess="false"/>
    </startup>
  <connectionStrings>
    <add name="Server"
		 connectionString="http://cozumointops.cloudapp.net"/>
	<add name="AdminServer"
		 connectionString="http://cozqa01admweb.cloudapp.net"/>
	<add name="DemoServer"
		 connectionString="http://cozumointops.cloudapp.net"/>
	<add name="CampaignServer"
		 connectionString="http://cozqa01api.cloudapp.net"/>
    <add name="ValidSerial"
         connectionString="D05FB84F1606"/>
    <add name="DemoSerial"
         connectionString="D05FB84F2A56"/>
    <add name="InvalidSerial"
         connectionString="THISISANINVALIDSERIAL"/>
    <add name="TimesToRunTests"
         connectionString="10"/>
    <add name="DelayBetweenRuns"
         connectionString="200"/>
    <add name="Username"
         connectionString="User1"/>
    <add name="Password"
         connectionString="password1"/>
    <add name="slug"
         connectionString="ThisIsABullshitSlug"/>
    <add name="startDate"
         connectionString="2015-06-23T14:00"/>
    <add name="endDate"
         connectionString="2015-06-24T14:00"/>
    <add name="redeemedDate"
         connectionString=""/>
    <add name="timeFilter"
         connectionString="last30"/>
    <add name="status"
         connectionString=""/>
    <add name="publicationId"
         connectionString="A047926D-E2B8-466F-9113-0ED498D8FDC4"/>
    <add name="offerId"
         connectionString="A5C22FCA-CE16-4E0E-BD3D-6C8F29E1950B"/>
    <add name="campaignName"
         connectionString="QA%20Testing"/>
    <add name="campaignId"
         connectionString="e73e25ac-aa21-469d-9c79-ef90b9913c2e"/>
    <add name="campaignDescription"
         connectionString="This%20is%20a%20campaign%20for%20QA%20testing"/>
    <add name="couponCode"
         connectionString="200"/>
    <add name="date"
         connectionString="2015-07-05T12:11:47.5651785-05:00"/>
    <add name="issuedDate"
         connectionString="2015-07-05T12:11:47.5651785-05:00"/>
    <add name="applicationKey"
         connectionString="AB8D7AA5DEC91B90F85158CC223916E7C3DEAD52"/>
    <add name="sessionKey"
    	 connectionString="4D46F8605ED5FC4B27871C994EA09915A86620DC"/>
  </connectionStrings>
</configuration>